<form action="">
    <label for="contact_name">Nombre Completo</label>
    <input class="form-control"
        id="contact_name"
        name="name"
        type="text"
        required>
    <label for="contact_phone"></label>
    <input class="form-control" 
        id="contact_phone"
        name="phone"
        type="tel">
    <label for="contact_consult"></label>
    <textarea class="form-control" 
        id="contact_consult" 
        name="consult"
        required></textarea>
    <button class="btn btn-info">Enviar</button>
</form>