<form action="/api/login" method="post" class="col-sm-8 col-md-6 col-lg-4 mx-2 mx-sm-auto p-3">
    <label for="login_user">Usuario</label>
    <input class="form-control" 
        id="login_user" 
        name="username" 
        type="text" 
        required>
    <label for="login_pass">Contraseña</label>
    <input class="form-control" 
        id="login_pass" 
        name="password" 
        type="password" 
        autocomplete="true" 
        required>
    <button class="btn btn-primary">Iniciar Sesion</button>
</form>