<form action="/api/signup" method="post" class="col-sm-8 col-md-6 col-lg-4 mx-2 mx-sm-auto p-3">
    <label for="signup_user">Usuario</label>
    <input class="form-control" 
        id="signup_user" 
        name="username" 
        type="text" 
        required>
    <label for="signup_email">Correo</label>
    <input class="form-control" 
        id="signup_email" 
        name="email" 
        type="email" 
        required>
    <label for="signup_pass1">Escriba la Contraseña</label>
    <input class="form-control" 
        id="signup_pass1" 
        name="password" 
        type="password" 
        autocomplete="true" 
        required>
    <label for="signup_pass2">Repita la Contraseña</label>
    <input class="form-control" 
        id="signup_pass2" 
        name="password" 
        type="password" 
        autocomplete="true" 
        required>
    <button class="btn btn-success">Registrarse</button>
</form>