<nav class="navbar navbar-dark bg-dark bg-gradient | p-2">
    <a class="navbar-brand" href="#">{{app.shortname}}</a>
    <button class="navbar-toggler navbar-toggler-icon | border-0"
        data-bs-target=".navbar-nav"
        data-bs-toggle="collapse">
    </button>
    <ul class="navbar-nav navbar-collapse collapse">
        <li><a class="nav-link" href="/api/">Pagina Principal</a></li>
        <li><a class="nav-link" href="/api/login">Iniciar Sesion</a></li>
        <li><a class="nav-link" href="/api/signup">Registrarse</a></li>
        <li><a class="nav-link" href="/api/contact">Contacto</a></li>
    </ul>
</nav>